.header { 
    border-bottom: solid 1px;
    padding: 20px 0px 20px 0px;
    margin: 20px 0px 20px 0px;
}

.product-img { 
    width: 150px;
}

.count-field { 
    width: 70px;
}

.col-padding { 
    padding: 9px 8px 9px 8px;
}