<div class="container" style="padding-top: 80px;" *ngIf="!isLoading">
    <div class="col-sm-12 text-center" translate>
      <div class="alert alert-primary" role="alert" *ngIf="showInfo">
        <span translate>Address</span>  <strong>{{email}}</strong> <span translate>is successfully signed out</span>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="showAlert" translate>
        Sign out newsletter failed
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary" [routerLink]="['/']" translate>Go to home page</button>
        </div>
      </div>
    </div>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>