<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{apiUrl}}/{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 page-title-icon">
      <img src="../../../assets/images/icons/montaza.png" width="50" alt="">
      <h1 translate>Guarantee</h1>
    </div>
  </div>
  <div class="col-12 text-left">
    <p class="description-large" translate="guarantee.description"></p>
    <p class="description-xlarge">
      5 godina garancije: <br>
      Garancija vazi: <br>
      Garancija ne vazi:
    </p>
  </div>
</div>
