<div class="container-fluid" *ngIf="!isLoading">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{apiUrl}}/{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-12 page-title-icon">
      <img src="../../../assets/images/icons/montaza.png" width="50" alt="">
      <h1 translate>Guarantee</h1>
    </div>
  </div>
  <div class="col-12 text-left">
    <p class="description-large" translate>guarantee.description</p>
    <p class="description-xlarge">
      <span translate>5 years of guarantee: </span><br>
      <span translate>The guarantee is valid: </span><br>
      <span translate>The guarantee does not apply: </span>
    </p>
  </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>