<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 page-title-icon">
      <img src="../../../assets/images/icons/montaza.png" width="50" alt="">
      <h1>Garancija</h1>
    </div>
  </div>
  <div class="col-12 text-left">
    <p class="description-large">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac leo vitae tellus mollis maximus at a nisi. Sed eleifend aliquet nisl, hendrerit ullamcorper metus consequat id. Aenean semper bibendum neque ut aliquet. Etiam vel dolor malesuada, pretium velit sed, rhoncus est. Duis sed augue sit amet enim lacinia convallis lobortis et erat. Integer eu leo vestibulum, ultrices orci sed, ultrices magna. Nulla a nibh dolor.
    </p>
    <p class="description-xlarge">
      5 godina garancije: <br>
      Garancija vazi: <br>
      Garancija ne vazi:
    </p>
  </div>
</div>
