.admin-panels {
  padding: 50px 50px;
}

.admin-panel {
  display: block;
  position: relative;
  text-align: center;
  background: $primary;
  padding-top: 100%;
  margin-bottom: 20px;
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 20px;
    color: $white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  p {
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
    //color: $black;
    //border-bottom: 5px solid $black;
    //text-align: left;
    transition: all 0.5s;
  }
  i {
    font-size: 70px;
    margin-right: 25px;
    transition: all 0.5s;
    //color: $primary;
  }
  &:hover {
    p {
      transform: scale(1.1);
    }
    i {
      transform: scale(0.8);
    }
  }
}

@include media-breakpoint-down(md) {
  .admin-panels {
    padding: 100px 0;
  }
  .admin-panel {
    i {
      font-size: 50px;
    }
    p {
      font-size: 20px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .admin-panels {
    padding: 50px 0;
  }
  .admin-panel {
    i {
      font-size: 60px;
    }
    p {
      font-size: 28px;
    }
  }
}

.admin-list {
  &-item {
    padding: 20px 10px;
    border-bottom: 1px solid $gray-200;
  }
  &-links {
    text-align: right;
    a {
      font-size: 18px;
      margin-bottom: 5px;
      display: block;
      cursor: pointer;
    }
  }
  &-name {
    font-size: 28px;
    font-weight: 300;
    text-decoration: none !important;
    small {
      font-size: 70%;
    }
    &:hover {
      color: $primary !important;
    }
  }
  &-video {
    align-items: flex-end;
    margin-top: 10px;
    p {
      margin-bottom: 0;
    }
    .admin-list-links {
      a {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  &-contact {
    line-height: 1.6;
  }
}

.banner-image,
.banner-title,
.banner-link,
.banner-text {
  padding: 0 20px 0 0;
}

.banner-image {
  img,
  canvas {
    max-width: 100%;
    height: auto;
  }
}

.banner-link,
.banner-text {
  width: 200px;
  word-break: break-all;
}

.banner-title {
  flex: 1;
}

.banner-edit {
  a {
    display: inline-block;
    margin-left: 10px;
  }
}

.remove-link {
  color: $red !important;
  &:hover {
    color: $red !important;
  }
}

.admin-headline {
  margin-top: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  margin-bottom: 25px;
  font-weight: 900;
  text-transform: uppercase;
  &-link {
    float: right;
    color: $gray-800;
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 400;
    line-height: 57px;
    &.new {
      margin-left: 20px;
      color: $primary;
    }
  }
  span {
    font-weight: 400;
    font-size: 70%;
  }
}

.price {
  display: block;
  font-weight: 900;
  font-size: 32px;
  &-old {
    color: red;
    text-decoration: line-through;
  }
}

.dropzone-wrapp {
  padding: 20px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: $gray-200;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  border-radius: 10px;
  padding: 10px 25px;
  letter-spacing: 0.5px;
  i {
    margin-right: 5px;
    margin-left: -5px;
  }
}

.btn-primary {
  background: $blue-dark;
  border-color: $blue-dark;
  color: $white;
}

.form-control {
  border-radius: 5px;
}

.row {
  iframe {
    max-width: 100%;
  }
}

a:not([href]):not([tabindex]) {
  cursor: pointer;
}

.banner-list-image {
  width: 90%;
  max-width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    max-width: none;
    height: 100%;
  }
}

app-shell {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

app-banner,
app-banner-view,
app-video,
app-video-view,
app-atest,
app-atest-view,
app-catalogue,
app-catalogue-view,
app-collections,
app-collection-view,
app-sales,
app-sales-view,
app-service,
app-service-view {
  flex: 1 0 auto;
  padding-bottom: 20px;
}
