footer {
  padding: 70px 0 100px;
  background: $primary;
  color: $white !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  .container {
    text-align: left !important;
    padding: 0 !important;
  }
  ul {
    list-style: none;
    padding: 0;
    font-weight: 300;
    span {
      width: 80px;
      display: inline-block;
    }
  }
  a {
    color: $white !important;
    text-align: left;
  }
}

.footer-logo {
  width: 190px;
}

.footer-download {
  font-size: 18px;
  font-weight: bold;
  i {
    margin-left: 10px;
  }
}

.footer-contact {
  margin-left: auto !important;
}

.footer-newsletter {
  margin-top: 40px;
  position: relative;
  input.form-control {
    padding: 15px 100px 15px 25px;
    border-radius: 10px;
    margin: 0 !important;
    line-height: 1;
    text-transform: uppercase;
    width: 100% !important;
  }
  &-submit {
    background: #1465aa;
    color: $white;
    border-radius: 10px !important;
    padding: 18px 25px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase !important;
    letter-spacing: 0.5px;
  }
}

@include media-breakpoint-down(sm) {
  footer {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  .footer-contact {
    margin: 0 !important;
    width: 100% !important;
  }
}
