.header-top {
  padding-right: 0;
  padding-bottom: 0;
  .nav-link {
    padding: 0 5px;
    font-size: 12px;
  }
}
.header-bottom {
  align-items: flex-end;
  padding: 0;
  margin: 0 !important;
  .nav-link {
    padding: 5px 0 !important;
    margin-right: 40px;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-bottom: 2px solid $white;
    color: $primary !important;
    &.active {
      border-bottom: 2px solid $primary;
    }
  }
  .logo,
  .header-search {
    margin-bottom: 1rem;
  }
  .navbar-nav > .nav-item {
    padding-bottom: 1rem;
  }
  .dropdown-menu {
    padding: 0;
    margin: 0;
    top: 35px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .dropdown-item {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary !important;
    &:hover,
    &.active {
      color: $white !important;
      background: $primary;
    }
  }
}

.header-search {
  position: relative;
  input {
    border-radius: 40px;
    font-size: 13px;
    padding-left: 50px;
  }
  .btn {
    position: absolute;
    left: 1px;
    color: $primary;
    line-height: 1;
    border: none;
    border-radius: 40px;
    background: none;
  }
}

.nav-item.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  width: 723px;
  float: right;
  li {
    padding-left: 15px;
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    text-transform: uppercase;
    color: #777 !important;
    font-size: 12px;
    font-weight: 300;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .fas {
    padding-left: 15px;
    font-size: 12px;
    color: #777;
  }
}

@include media-breakpoint-down(sm) {
  .logo {
    width: 150px;
  }
}
