<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="admin-headline container" translate>About Us</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5 align-items-center">
        <div class="col-sm-6">
            <p><b>Marbomil</b> je domaći brend vodovodnih delova i opreme za kupatila. </p>
            <p>Kompanija je osnovana 1990. Godine. </p>
            <p>Počeli smo kao mala, zanatska radionica.</p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/images/o-nama/radionica.jpg" alt="">
        </div>
    </div>
    <div class="row mb-5 align-items-center">
        <div class="col-sm-6">
            <img src="/assets/images/o-nama/strug2.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <p>Tokom dvadeset godina trudili smo se da naučimo da prepoznamo kvalitet, da razumemo potrebe i ponudimo rešenja.</p>
            <p>Danas, <b>Marbomil</b> nudi širok asortiman proizvoda, organizovan prevoz, ovlašćene servise, stabilno snabdevanje, ali je kvalitet i dalje osnova, suština našeg postojanja.</p>
        </div>
    </div>
    <div class="row mb-5 align-items-center">
        <div class="col-sm-6">
            <p>Garantujemo Vam za sve proizvode označene MBM znakom. </p>
            <p>Trajnost i funkcionalnost potvrđuju sertifikati ovlašćenih državnih institucija, a pre svega više stotina robnih kuća, salona, prodavnica i gvožđara u Srbiji, Hrvatskoj, Makedoniji i Crnoj Gori koji u našem asortimanu pronalaze delove svoje svakodnevne ponude.</p>
            <p><b>Marbomil</b> proizvode možete pogledati ili kupiti u našem maloprodajnom salonu, u Surčinu.</p>
            <p>Proverite. <br>
                MBM, armature Surčin</p>
        </div>
        <div class="col-sm-6">
            <img src="/assets/images/o-nama/boxes.jpg" alt="">
        </div>
    </div>
</div>
