<header class="container">
  <div class="row">
    <nav class="header-top col navbar navbar-expand">
      <div class="navbar-nav  ml-auto">
        <a class="nav-item nav-link text-uppercase" (click)="setLanguage('sr-Latn')" [ngClass]="activeLanguage == 'sr-Latn' ? 'active' : ''">
          <span translate>Ser</span>
        </a>
        <a class="nav-item nav-link text-uppercase" (click)="setLanguage('en-US')" [ngClass]="activeLanguage == 'en-US' ? 'active' : ''">
          <span translate>Eng</span>
        </a>
        <a class="nav-item nav-link text-uppercase" (click)="setLanguage('rus')" [ngClass]="activeLanguage == 'rus' ? 'active' : ''">
          <span translate>Rus</span>
        </a>
        <a class="nav-item nav-link text-uppercase" (click)="setLanguage('alb')" [ngClass]="activeLanguage == 'alb' ? 'active' : ''">
          <span translate>Alb</span>
        </a>
      </div>
    </nav>
    <div class="w-100"></div>
    <nav class="header-bottom col navbar navbar-expand-lg">
      <a class="navbar-brand" routerLink="/home" translate><img src="../../../../assets/images/logo/logo_header.png" class="logo"></a>
      <button class="navbar-toggler" type="button" aria-controls="navbar-menu" aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
        <ul class="navbar-nav  ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
              <span translate>Marbomil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/categories" routerLinkActive="active">
              <span translate>Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/kvalitet" routerLinkActive="active">
              <span translate>Quality</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a routerLinkActive="active" class="nav-link dropdown-toggle text-uppercase" routerLink="/servis" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span translate>Servis</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLinkActive="active" class="dropdown-item" routerLink="/servis">
                <span translate>Servis</span>
              </a>
              <a routerLinkActive="active" class="dropdown-item" routerLink="/garancija">
                <span translate>Guarantee</span>
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" routerLink="/locations" routerLinkActive="active">
              <span translate>Where To Buy</span>
            </a>
          </li>
        </ul>
        <form class="header-search form-inline ml-auto">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
          <input class="form-control" type="search" aria-label="Search">
        </form>
      </div>
    </nav>
  </div>
</header>
