<div class="container" style="padding-top: 80px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="sidenav">
        <div>
          <a (click)="goToCategoryHome()" class="sidenav-title" translate>All Categories</a>
        </div>
        <div *ngFor="let category of categoryData">
          <a (click)="goToCategory(category)" class="sidenav-title">{{category.title}}</a>
          <ul class="sidenav-list" *ngIf="category.id == getActiveCategory(activeCollectionId)">
            <li class="sidenav-item" *ngFor="let collection of getCollectionsByCatId(category.id)">
              <a class="sidenav-link" [ngClass]="{active: collection.id==activeCollectionId}" (click)="goTo(collection)">{{collection.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row categories-list">
        <div class="col-sm-4 categories-list-item content-box" *ngFor="let collection of getCollectionsById(activeCollectionId)">
          <a (click)="goToProduct(collection)">
            <img src="{{apiUrl}}/{{collection.imageCropUrl}}" alt="{{collection.title}}">
            <div class="content-box-description">
              <h5>{{collection.title}}</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>