<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Video materijali
        <a class="admin-headline-link" routerLink="/admin">
          <i class="fas fa-chevron-left"></i> Nazad
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/video/new">
        <i class="fas fa-plus"></i> Dodaj novi
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="videoData">
    <div class="col-sm-6 col-md-4" *ngFor="let video of videoData">
      <div class="admin-list-item">
        <a (click)="goTo(video)">
          <img src="{{'data:image/png;base64,'+video.imageCrop}}" alt="">
        </a>
        <div class="row admin-list-video">
          <div class="col-9">
            <p><a class="admin-list-name" (click)="goTo(video)">{{video.title}}</a></p>
          </div>
          <div class="col-3 admin-list-links">
            <a routerLink="/admin/video/{{video.id}}"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(video)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
