<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Kategorije
        <div class="admin-headline-link">
          <a class="admin-headline-link" routerLink="/admin">
            <i class="fas fa-chevron-left"></i> Nazad
          </a>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/category/new">
        <i class="fas fa-plus"></i> Dodaj novu
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="categoryData">
    <div class="col-lg-6" *ngFor="let category of categoryData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-4">
            <a routerLink="/admin/category/{{category.id}}">
              <img src="{{'data:image/png;base64,'+category.imageCrop}}" alt="">
            </a>
          </div>
          <div class="col-7">
            <p><a class="admin-list-name" routerLink="/admin/category/{{category.id}}">{{category.title}}</a></p>
          </div>
          <div class="col-1 admin-list-links">
            <a routerLink="/admin/category/{{category.id}}"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
