<div class="container-fluid" [hidden]="isLoading">
    <div class="row">
      <div class="col">
        <h1 class="admin-headline container" translate>
          Change password
        </h1>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!isLoading">
    <div class="row">
      <div class="col-sm-12">
        <form name="form"  *ngIf="!successChanged" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>Old Password</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" id="opass" [(ngModel)]="oldPassword" name="opass"
                      #opass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && opass.invalid }" required maxlength="100">
                    <div *ngIf="f.submitted && opass.invalid" class="invalid-feedback">
                      <div *ngIf="opass.errors.required" translate>This field is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>New Password</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" id="pass" [(ngModel)]="password" name="pass"
                      #pass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }" required maxlength="100"
                      (ngModelChange)="validatePassword()">
                    <div *ngIf="f.submitted && pass.invalid" class="invalid-feedback">
                      <div *ngIf="pass.errors.required" translate>This field is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>Confirm New Password</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" id="conpass" [(ngModel)]="confirmPassword" name="repass"
                      #repass="ngModel"
                      [ngClass]="{ 'is-invalid': (f.submitted && repass.invalid) || !validatePassword()}" required
                      maxlength="100" (ngModelChange)="validatePassword()">
                    <div *ngIf="f.submitted && repass.invalid" class="invalid-feedback">
                      <div *ngIf="repass.errors.required" translate>This field is required</div>
                    </div>
                    <div *ngIf="!validatePassword()" class="invalid-feedback" style="display: block;">
                      <div translate>Passwords don't match</div>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-8 offset-md-4">
                    <button type="submit" class="btn btn-primary" (click)="scrollTop(f)" [disabled]="!validatePassword()"
                      translate><i class="fas fa-save"></i>Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-sm-12 text-center" *ngIf="successChanged">
          <div class="alert alert-primary" role="alert">
           <span translate> Password successfully changed, go to </span><a [routerLink]="['/']"><strong>home</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>