<div class="container" style="padding-top: 80px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="row categories-list">
        <div class="col-sm-3 categories-list-item content-box" *ngFor="let category of categoryData">
          <a (click)="goTo(category)">
            <img src="{{apiUrl}}/{{category.imageCropUrl}}" alt="{{category.title}}">
            <div class="content-box-description">
              <h5>{{category.title}}</h5>
              
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
