<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/categories" translate>Products</a><i class="fas fa-chevron-right"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 80px;" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-3">
      <div class="sidenav">
        <div *ngFor="let category of menuData">
          <a (click)="goToCategory(category)" [ngClass]="{active: category.id === activeCategoryId}" class="sidenav-title">{{category.title}}</a>
          <ul class="sidenav-list" *ngIf="category.id === activeCategoryId">
            <li class="sidenav-item" *ngFor="let collection of category.collections">
              <a class="sidenav-link" (click)="goToProducts(collection, category.id)">{{collection.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row categories-list">
        <div class="col-sm-4 categories-list-item content-box" *ngFor="let collection of collections">
          <a (click)="goToProducts(collection, activeCategoryId)">
            <img [src]="collection && collection.imageCropUrl ? apiUrl + '/' + collection.imageCropUrl : '../../../../assets/images/placeholder.png'" alt="{{collection.title}}">
            <div class="content-box-description">
              <h5>{{collection.title}}</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-4 categories-list-item content-box" *ngIf="!collections.length">
          <a>
            <div class="content-box-description">
              <h5 translate>No Items To Show</h5>
            </div>
          </a>
        </div>
      </div>
      <h3 class="category-collection-title" *ngIf="products && products.length" translate>Products Out Of Collections</h3>
      <div class="row categories-list" *ngIf="products && products.length">
        <div class="col-sm-4 product-categories-item content-box" *ngFor="let product of products">
          <a>
            <img [src]="product.images && product.images.length && product.images[0].imageCropUrl ? apiUrl + '/' + product.images[0].imageCropUrl : '../../../../assets/images/placeholder.png'" alt="{{product.title}}" (click)="goToProduct(product)">
            <div class="content-box-description" (click)="goToProduct(product)">
              <h5>{{product.title}}</h5>
              <div [hidden]="!isAuth" *ngxPermissionsOnly="['Buyer']" style="height: 25px;"></div>
              <h4 [hidden]="!isAuth" *ngxPermissionsOnly="['Buyer']" class="text-center small-price">{{product.price}}.00 <label class="unit">RSD</label></h4>
              <h3 [hidden]="!isAuth" *ngxPermissionsOnly="['Buyer']" class="text-center big-price"><b>{{product.price}}.00 <label class="unit">RSD</label></b></h3>
            </div>
            <!-- <div class="row cart-box" [hidden]="!isAuth" *ngxPermissionsOnly="['Buyer']">
                {{counts[i]}}
              <div class="col-md-4">
                  <input type="number" class="form-control" id="count" [(ngModel)]="product.count" name="count" #count="ngModel" min="1">
              </div>
              <div class="col-md-8">
                  <button class="btn btn-sm btn-default" (click)="addToCart(product)" translate><i class="fas fa-shopping-cart"></i></button>
              </div>              
            </div> -->
          </a>
        </div>
        <div class="col-sm-4 categories-list-item content-box" *ngIf="!products.length">
          <a>
            <div class="content-box-description">
              <h5 translate>No Products To Show</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>