<div class="container-fluid" [hidden]="isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Baneri
        <a class="admin-headline-link" routerLink="/admin">
          <i class="fas fa-chevron-left"></i> Nazad
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container" [hidden]="isLoading">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/banner/new">
        <i class="fas fa-plus"></i> Dodaj novi
      </a>
    </div>
  </div>
  <div class="row admin-list">
    <div class="col-lg-6" *ngFor="let banner of bannerData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-11 col-sm-11" style="margin-bottom: 10px;">
            <a (click)="goTo(banner)" class="banner-list-image">
              <img  src="{{apiUrl}}/{{banner.imageCropUrl}}" (click)="goTo(banner)">
            </a>
          </div>
          <div class="col-11 col-sm-9 order-2 order-sm-1">
            <p><a (click)="goTo(banner)" class="admin-list-name">{{banner.title}}</a></p>
            <p>{{banner.description}}</p>
          </div>
          <div class="col-1 admin-list-links order-1 order-sm-2">
            <a (click)="goTo(banner)"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(banner)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<simple-notifications></simple-notifications>
<app-loader [isLoading]="isLoading"></app-loader>