<div class="container-fluid" [hidden]="isLoading">
    <div class="row">
      <div class="col">
        <h1 class="admin-headline container" translate>
          Forgot password
        </h1>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!isLoading">
    <div class="row">
      <div class="col-sm-12">
        <form name="form" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate *ngIf="!successSent">
          <div class="row">
            <div class="col-md-12">
              <div class="">
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>Email</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="pass" [(ngModel)]="email" name="pass"
                      #pass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }" required maxlength="100">
                    <div *ngIf="f.submitted && pass.invalid" class="invalid-feedback">
                      <div *ngIf="pass.errors.required" translate>This field is required</div>
                    </div>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-sm-8 offset-md-4">
                    <button type="submit" class="btn btn-primary" (click)="scrollTop(f)"
                      translate><i class="fas fa-save"></i>Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-sm-12 text-center" *ngIf="successSent">
          <div class="alert alert-primary" role="alert">
           <span translate> Forgot password link sent</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>