<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="customer">
      <h1 class="admin-headline" *ngIf="isEditMode" translate>Edit existing customer
        <a class="admin-headline-link" routerLink="/admin/customers" translate>
          <i class="fas fa-chevron-left"></i> Back to list
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode" translate>Create new customer
        <a class="admin-headline-link" routerLink="/admin/customers" translate>
          <i class="fas fa-chevron-left"></i> Back to list
        </a>
      </h1>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate>
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-12">
        <div class="" *ngIf="customer">
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Company Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.companyName" name="companyName"
                #companyName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && companyName.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && companyName.invalid" class="invalid-feedback">
                <div *ngIf="companyName.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Username</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.username" name="username"
                #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="!isEditMode">
            <label for="title" class="col-md-4 col-form-label" translate>Password</label>
            <div class="col-md-8">
              <input type="password" class="form-control" id="title" [(ngModel)]="customer.password" name="password"
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Email</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.email" name="email"
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Account Number</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.accountNumber"
                name="accountNumber" #accountNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && accountNumber.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && accountNumber.invalid" class="invalid-feedback">
                <div *ngIf="accountNumber.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Company Registration Number</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.companyRegistrationNumber"
                name="companyRegistrationNumber" #companyRegistrationNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && companyRegistrationNumber.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && companyRegistrationNumber.invalid" class="invalid-feedback">
                <div *ngIf="companyRegistrationNumber.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Company Tax Identification Number</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.companyTaxIdentificationNumber"
                name="companyTaxIdentificationNumber" #companyTaxIdentificationNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && companyTaxIdentificationNumber.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && companyTaxIdentificationNumber.invalid" class="invalid-feedback">
                <div *ngIf="companyTaxIdentificationNumber.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Contact Person</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.contactPerson"
                name="contactPerson" #contactPerson="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && contactPerson.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && contactPerson.invalid" class="invalid-feedback">
                <div *ngIf="contactPerson.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Address</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.address" name="address"
                #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                <div *ngIf="address.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Contact Phone Number</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.contactPhoneNumber"
                name="contactPhoneNumber" #contactPhoneNumber="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && contactPhoneNumber.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && contactPhoneNumber.invalid" class="invalid-feedback">
                <div *ngIf="contactPhoneNumber.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Discount</label>
            <div class="col-md-8">
              <input type="number" class="form-control" id="title" [(ngModel)]="customer.discount" name="discount"
                #discount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && discount.invalid }" required>
              <div *ngIf="f.submitted && discount.invalid" class="invalid-feedback">
                <div *ngIf="discount.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Website</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="title" [(ngModel)]="customer.website" name="website"
                #website="ngModel" [ngClass]="{ 'is-invalid': f.submitted && website.invalid }" required
                maxlength="100">
              <div *ngIf="f.submitted && website.invalid" class="invalid-feedback">
                <div *ngIf="website.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Is Active</label>
            <div class="col-md-8">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="isActive" name="isActive" [(ngModel)]="customer.isActive">
                <label class="form-check-label" for="isActive"></label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 offset-md-4">
              <button type="submit" class="btn btn-primary" (click)="scrollTop(f)" translate><i
                  class="fas fa-save"></i>Save</button>
              <a routerLink="/admin/customers" class="btn btn-secondary" translate><i class="fas fa-ban"></i>Cancel</a>
              <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()" translate><i
                  class="fas fa-trash"></i>Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>