<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="service">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/service">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/service">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form action="">
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-5">
        <div *ngIf="service.longitude && service.latitude">
          <iframe [src]="serviceUrl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="" *ngIf="service">
          <div class="form-group row">
            <label for="title" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="service.title">
            </div>
          </div>
          <div class="form-group row">
            <label for="street" class="col-md-2 col-form-label">Adresa</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="street" name="street" [(ngModel)]="service.street">
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-md-2 col-form-label">Grad</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="city" name="city" [(ngModel)]="service.city">
            </div>
          </div>
          <div class="form-group row">
            <label for="postal" class="col-md-2 col-form-label">Poštanski broj</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="postal" name="postal" [(ngModel)]="service.postal">
            </div>
          </div>
          <div class="form-group row">
            <label for="region" class="col-md-2 col-form-label">Opština</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="region" name="region" [(ngModel)]="service.region">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-md-2 col-form-label">Drzava</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="country" name="country" [(ngModel)]="service.country">
            </div>
          </div>
          <div class="form-group row">
            <label for="latitude" class="col-md-2 col-form-label">Latitude</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="latitude" name="latitude" [(ngModel)]="service.latitude">
            </div>
          </div>
          <div class="form-group row">
            <label for="longitude" class="col-md-2 col-form-label">Longitude</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="longitude" name="longitude" [(ngModel)]="service.longitude">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-md-2 col-form-label">Telefon</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="service.phone">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="service.email">
            </div>
          </div>
          <div class="form-group row">
            <label for="website" class="col-md-2 col-form-label">Website</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="website" name="website" [(ngModel)]="service.website">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-md-2">
              <button type="submit" class="btn btn-primary" (click)="saveOnClick()"><i class="fas fa-save"></i> Sačuvaj</button>
              <a routerLink="/admin/service" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
              <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()"><i class="fas fa-trash"></i> Izbriši</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
