<div class="container">
  <div class="row admin-panels">
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="/admin/banners">
          <i class="fas fa-images"></i>
          <p>Baneri</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-list-ul"></i>
          <p>Kategorije</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-th-large"></i>
          <p>Kolekcije</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-tint"></i>
          <p>Proizvodi</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-video"></i>
          <p>Video materijali</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-certificate"></i>
          <p>Atesti</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-book"></i>
          <p>Katalog</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-wrench"></i>
          <p>Servisi</p>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="admin-panel">
        <a href="#">
          <i class="fas fa-users"></i>
          <p>Prodavci</p>
        </a>
      </div>
    </div>
  </div>
</div>