<section class="homepage-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>
          Marbomil je jedna od vodećih robnih marki slavina i druge opreme za kupatilo u reigonu. <br>
          Naši proizvodi su atestirani i bezbedni za upotrebu. Podležu dugotrajnim garancijama <br>
          i rigoroznoj kontroli kvaliteta. <br>
          Kvalitet proizvoda garantovan je dvadesetpetogodišnjim iskustvom <br>
          u proizvodnji vodovodnih armatura. <br>
          Marmobil slavine i druge proizvode možete kupiti u više storina <br>
          maloprodajnih objekata u Srbiji, Hrvatskoj, Makedoniji i Crnoj Godi.
        </p>
      </div>
    </div>
  </div>
</section>
