<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{apiUrl}}/{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 page-title-icon">
      <img src="../../../assets/images/icons/montaza.png" width="50" alt="">
      <h1 translate>Authorized Marmobil Services</h1>
    </div>
  </div>
  <div class="container service-list">
    <div class="row service-block">
      <div class="col-sm-3 offset-sm-1" *ngIf="serviceSerbia.length">
        <h3 class="service-country" translate>Serbia</h3>
        <div class="service-item" *ngFor="let service of serviceSerbia">
          <h4 class="service-city">{{service.city}}</h4>
          <p>
            {{service.title}} <br>
            {{service.street}} <br>
            {{service.postal}} {{service.city}} <br>
            Tel: <a href="tel:{{service.phone}}">{{service.phone}}</a> <br>
            Email: <a href="mailto:{{service.email}}">{{service.email}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div #gmapSrb style="width:100%; height:400px;"></div>
      </div>
    </div>
    <div class="row service-block">
      <div class="col-sm-3 offset-sm-1" *ngIf="serviceCroatia.length">
        <h3 class="service-country" translate>Croatia</h3>
        <div class="service-item" *ngFor="let service of serviceCroatia">
          <h4 class="service-city">{{service.city}}</h4>
          <p>
            {{service.title}} <br>
            {{service.street}} <br>
            {{service.postal}} {{service.city}} <br>
            Tel: <a href="tel:{{service.phone}}">{{service.phone}}</a> <br>
            Email: <a href="mailto:{{service.email}}">{{service.email}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div #gmapCro style="width:100%; height:400px;"></div>
      </div>
    </div>
    <div class="row service-block">
      <div class="col-sm-3 offset-sm-1" *ngIf="serviceMacedonia.length">
        <h3 class="service-country" translate>Republic of Macedonia</h3>
        <div class="service-item" *ngFor="let service of serviceMacedonia">
          <h4 class="service-city">{{service.city}}</h4>
          <p>
            {{service.title}} <br>
            {{service.street}} <br>
            {{service.postal}} {{service.city}} <br>
            Tel: <a href="tel:{{service.phone}}">{{service.phone}}</a> <br>
            Email: <a href="mailto:{{service.email}}">{{service.email}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div #gmapMcd style="width:100%; height:400px;"></div>
      </div>
    </div>
    <div class="row service-block">
      <div class="col-sm-3 offset-sm-1" *ngIf="serviceMontenegro.length">
        <h3 class="service-country" translate>Montenegro</h3>
        <div class="service-item" *ngFor="let service of serviceMontenegro">
          <h4 class="service-city">{{service.city}}</h4>
          <p>
            {{service.title}} <br>
            {{service.street}} <br>
            {{service.postal}} {{service.city}} <br>
            Tel: <a href="tel:{{service.phone}}">{{service.phone}}</a> <br>
            Email: <a href="mailto:{{service.email}}">{{service.email}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div #gmapMne style="width:100%; height:400px;"></div>
      </div>
    </div>
    <div class="row service-block">
      <div class="col-sm-3 offset-sm-1" *ngIf="serviceRSrpska.length">
        <h3 class="service-country" translate>Republika Srpska</h3>
        <div class="service-item" *ngFor="let service of serviceRSrpska">
          <h4 class="service-city">{{service.city}}</h4>
          <p>
            {{service.title}} <br>
            {{service.street}} <br>
            {{service.postal}} {{service.city}} <br>
            Tel: <a href="tel:{{service.phone}}">{{service.phone}}</a> <br>
            Email: <a href="mailto:{{service.email}}">{{service.email}}</a>
          </p>
        </div>
      </div>
      <div class="col-md-7">
        <div #gmapBih style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
</div>
