@import "src/theme/theme-variables";

.products-form { 
    padding: 16px;
    border: solid 1px $gray-300;
    margin-bottom: 16px;
}

.list-column { 
    color: $blue-dark;
    font-size: 11px;
}

.note-area { 
    border: solid 1px $gray-300;
    width: 100%;
    font-style: italic;
    padding: 12px;
}

.total-price {
    color: $red;
    font-size: 15px;
}