<div class="container" [hidden]="isLoading">
  <div class="row">
    <div class="col-sm-12" *ngIf="order">
      <h1 class="admin-headline" *ngIf="isEditMode" translate>Edit existing order
        <a class="admin-headline-link" routerLink="/admin/orders" translate>
          <i class="fas fa-chevron-left"></i> Back to list
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode" translate>Create new order
        <a class="admin-headline-link" routerLink="/admin/orders" translate>
          <i class="fas fa-chevron-left"></i> Back to list
        </a>
      </h1>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate>
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-12">
        <div class="" *ngIf="order">
          <!-- <div class="form-group row">
            <label for="title" class="col-md-2 col-form-label" translate>Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="title" [(ngModel)]="order.name" name="name" #name="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                <div *ngIf="name.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Buyer</label>
            <div class="col-md-8">
              <ng-select [disabled]="isEditMode" required="required" class="custom" [items]="customers"
                [bindLabel]="'companyName'" [bindValue]="'id'" [selectOnTab]="true" [virtualScroll]="true"
                [(ngModel)]="order.buyerId" name="buyer" #buyer="ngModel"></ng-select>
              <div *ngIf="f.submitted && buyer.invalid" class="invalid-feedback">
                <div *ngIf="buyer.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="isEditMode">
            <label for="title" class="col-md-4 col-form-label" translate>Status</label>
            <div class="col-md-8">
              <ng-select required="required" class="custom" [items]="statuses" [bindLabel]="'name'" [bindValue]="'id'"
                [selectOnTab]="true" [virtualScroll]="true" [(ngModel)]="order.status" name="status" #status="ngModel">
              </ng-select>
              <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
                <div *ngIf="status.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="isEditMode && order.status === 'Accepted'">
            <label for="title" class="col-md-4 col-form-label" translate>Estimated Delivery Date</label>
            <div class="col-md-8">
              <input type="text" placeholder="Datepicker" class="form-control"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker [(ngModel)]="order.estimatedDate" [minDate]="order.createdDate"
                name="estimated" #estimated="ngModel" required="required">
              <div *ngIf="f.submitted && estimated.invalid" class="invalid-feedback">
                <div *ngIf="estimated.errors.required" translate>This field is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row"  *ngIf="isEditMode && order.status === 'Rejected'">
              <label for="title" class="col-md-4 col-form-label" translate>Reason</label>
              <div class="col-md-8">
                <textarea class="note-area" [(ngModel)]="order.rejectedNote" name="rejNote" required="required" #rejNote="ngModel"></textarea>
                <div *ngIf="f.submitted && rejNote.invalid" class="invalid-feedback">
                    <div *ngIf="rejNote.errors.required" translate>This field is required</div>
                  </div>
              </div>
            </div>
          <div class="form-group row">
            <label for="title" class="col-md-4 col-form-label" translate>Note</label>
            <div class="col-md-8">
              <textarea class="note-area" [(ngModel)]="order.note" name="note"></textarea>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-12">
              Products
            </label>
            <div class="col-sm-12">
              <form class="products-form" name="productsForm" (ngSubmit)="addProduct(fp, product)" #fp="ngForm"
                novalidate>
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>Product</label>
                  <div class="col-md-8">
                    <ng-select required="required" class="custom" [items]="products" [bindLabel]="'bindLabel'"
                      [bindValue]="'id'" [selectOnTab]="true" [virtualScroll]="true" [(ngModel)]="newOrder.productId"
                      name="newProduct" #newProduct="ngModel" #product></ng-select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label" translate>Quantity</label>
                  <div class="col-md-8">
                    <input type="number" class="form-control" id="quantity" [(ngModel)]="newOrder.quantity"
                      name="quantity" #quantity="ngModel" required min="1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8 offset-md-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!newOrder.productId || !newOrder.quantity"
                      translate><i class="fas fa-plus"></i>Add</button>
                  </div>
                </div>
                <ul class="list-group mt-4">
                  <li class="list-group-item" *ngFor="let item of orderProducts">
                    <a class="remove-link" style="float: right;"><i class="fas fa-trash"
                        (click)="removeProduct(item)"></i></a>
                    <div class="row">
                      <div class="col-6">
                        <span class="list-column" translate>Product Code - Title</span><br />
                        {{getItemById(item.productId).code}} - {{getItemById(item.productId).title}}
                      </div>
                      <div class="col-2">
                        <span class="list-column" translate>Quantity</span> <br /> {{item.quantity}}
                      </div>
                      <div class="col-2">
                        <span class="list-column" translate>Price</span> <br /> {{getItemById(item.productId).price}}
                        <small>RSD</small>
                      </div>
                      <div class="col-2">
                        <span class="list-column" translate>Total</span> <br />
                        {{getItemById(item.productId).price * item.quantity}}
                        <small>RSD</small>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" *ngIf="orderProducts && orderProducts.length">
                    <div class="row">
                      <div class="col-12 text-center">
                        <span class="list-column total-price" translate>Total Price</span> <br />
                        <strong>{{calculatePrice()}}</strong> <small>RSD</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 offset-md-4">
              <button type="submit" class="btn btn-primary" (click)="scrollTop(f)" translate><i
                  class="fas fa-save"></i>Save</button>
              <a routerLink="/admin/orders" class="btn btn-secondary" translate><i class="fas fa-ban"></i>Cancel</a>
              <!-- <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()" translate><i
                  class="fas fa-trash"></i>Delete</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>