h1 {
  font-size: 100px;
  font-weight: 900;
  color: #00a6de;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

small {
  font-size: 30%;
}