<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container" translate>
        Download Catalogues
      </h1>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
    <div class="row justify-content-center" *ngIf="catalogueData">
        <div class="col-sm-9">
            <div class="content-list-item" *ngFor="let catalogue of catalogueData">
                <div class="row">
                    <div class="col-10">
                        <p class="content-list-name">
                            {{catalogue.title}} <small>v{{catalogue.version}}</small>
                        </p>
                        <p>{{catalogue.description}}</p>
                    </div>
                    <div class="col-2 content-list-links">
                      <a href="{{apiUrl}}/{{catalogue.fileUrl}}" target="_blank" style="margin-left: 10px; font-size: 24px;" ><i class="fas fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>