<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Atesti
        <a class="admin-headline-link" routerLink="/admin">
          <i class="fas fa-chevron-left"></i> Nazad
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/atest/new">
        <i class="fas fa-plus"></i> Dodaj novi
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="atestData">
    <div class="col-lg-6" *ngFor="let atest of atestData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-10">
            <p>
              <a class="admin-list-name" (click)="goTo(atest)">{{atest.title}}</a>
              <a style="margin-left: 10px; font-size: 24px;" (click)="goTo(atest)"><i class="fas fa-download"></i></a></p>
            <p>{{atest.desc}}</p>
          </div>
          <div class="col-2 admin-list-links">
            <a  (click)="goTo(atest)"><i class="fas fa-pencil-alt"></i></a>
            <a class="remove-link" (click)="openModal(atest)"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
