<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a>
          <img src="../../assets/images/logo/logo_footer.png" class="footer-logo">
        </a>
      </div>
      <div class="col-md-3">
        <ul class="footer-links">
          <li>
            <a routerLink="/home" translate>Homepage</a>
          </li>
          <li>
            <a routerLink="/about-us" translate>About Us</a>
          </li>
          <li>
            <a routerLink="/categories" translate>Products</a>
          </li>
          <li>
            <a routerLink="/kontakt" translate>Contact</a>
          </li>
        </ul>
        <a class="footer-download" routerLink="/download" translate>Download sekcija <i class="fas fa-download"></i>
        </a>
      </div>
      <div class="col-auto footer-contact">
        <ul class="footer-info">
          <li>Marbomil kontakt informacije</li>
          <li>Marbomil doo</li>
        </ul>
        <ul>
          <li>
            <span>Sedište:</span> Vojvođanska 370G, 11271 Surčin, Beograd, Srbija
          </li>
          <li>
            <span>Telefon:</span> <a href="tel:+381118442245">+381 (11) 844-22-45</a>
          </li>
          <li>
            <span>Fax:</span> +381 (11) 844-22-48
          </li>
          <li>
            <span>E-mail:</span> <a href="mailto:info@marbomil.co.rs">info@marbomil.co.rs</a>
          </li>
        </ul>
        <form class="footer-newsletter form-inline">
          <input class="form-control" type="search" placeholder="Marbomil prijava na vesti" aria-label="Search">
          <button class="footer-newsletter-submit" type="submit" translate>Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>
