<div class="container-fluid" [hidden]="isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container" translate>
        Catalogues
        <a class="admin-headline-link" routerLink="/admin" translate>
          <i class="fas fa-chevron-left"></i> Back
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container" [hidden]="isLoading">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/catalogue/new" translate>
        <i class="fas fa-plus"></i> Add new i
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="catalogueData">
    <div class="col-lg-6" *ngFor="let catalogue of catalogueData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-10">
            <p>
              <a class="admin-list-name"  (click)="goTo(catalogue)">{{catalogue.title}} <small>v{{catalogue.version}}</small></a>
              <a href="{{apiUrl}}/{{catalogue.fileUrl}}" target="_blank" style="margin-left: 10px; font-size: 24px;" ><i class="fas fa-download"></i></a>
              <p>{{catalogue.description}}</p>
          </div>
          <div class="col-2 admin-list-links">
            <a  (click)="goTo(catalogue)"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(catalogue)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
