<section class="homepage-banners">
  <div class="row no-gutters">
    <div class="col-sm-4 equipment">
      <a>
        <img src="../../assets/images/pic1.png" alt="Oprema za kupatila">
        <span translate>Bathroom equipment</span>
      </a>
    </div>
    <div class="col-sm-4 equipment">
      <a>
        <img src="../../assets/images/pic2.png" alt="Delovi slavina i ventila">
        <span translate>Taps and Valves parts</span>
      </a>
    </div>
    <div class="col-sm-4 equipment">
      <a>
        <img src="../../assets/images/pic3.png" alt="Slavine i ventili">
        <span translate>Taps and Valves</span>
      </a>
    </div>
  </div>
</section>
