<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/categories">Proizvodi</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="activeCategory">
          <a routerLink="/categories/{{activeCategory.id}}">{{activeCategory.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <!-- <li *ngIf="productCollection">
          <a (click)="goTo(productCollection)">{{productCollection.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollectionMain">
          <a (click)="goToProducts(productCollectionMain, productCategory.id)">{{productCollectionMain.title}} </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 80px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="sidenav">
        <div *ngFor="let category of categoryData">
          <a (click)="goToCategory(category)" class="sidenav-title" [ngClass]="{active: category.id==activeCategoryId && !activeCollectionId}">{{category.title}}</a>
          <ul class="sidenav-list" *ngIf="category.id == activeCategoryId">
            <li class="sidenav-item" *ngFor="let collection of getCollectionsById(category.id)">
              <a class="sidenav-link" [ngClass]="{active: collection.id==activeCollectionId}" (click)="goToProducts(collection, category.id)">{{collection.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row categories-list">
        <div class="col-sm-4 product-categories-item content-box" *ngFor="let product of getProductsByParent()">
          <a (click)="goToProduct(product)">
            <img src="{{apiUrl}}/{{product.images[0].imageCropUrl}}" alt="{{product.title}}">
            <div class="content-box-description">
              <h5>{{product.title}}</h5>
            </div>
          </a>
        </div>
        <div class="col-sm-4 categories-list-item content-box" *ngIf="getProductsByParent().length == 0">
          <a>
            <div class="content-box-description">
              <h5 translate>No Products To Show</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>