<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/categories">Proizvodi</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="activeCategory">
          <a routerLink="/categories/{{activeCategory.id}}">{{activeCategory.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <!-- <li *ngIf="productCollection">
          <a (click)="goTo(productCollection)">{{productCollection.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollectionMain">
          <a (click)="goToProducts(productCollectionMain, productCategory.id)">{{productCollectionMain.title}} </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 80px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="sidenav">
        <div *ngFor="let category of categoryData">
          <a (click)="goToCategory(category)" class="sidenav-title" [ngClass]="{active: category.id==activeCategoryId && !activeCollectionId}">{{category.title}}</a>
          <ul class="sidenav-list" *ngIf="category.id == activeCategoryId">
            <li class="sidenav-item" *ngFor="let collection of getCollectionsById(category.id)">
              <a class="sidenav-link" [ngClass]="{active: collection.id==activeCollectionId}" (click)="goToProducts(collection, category.id)">{{collection.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row categories-list">
        <div class="col-sm-4 product-categories-item content-box" *ngFor="let product of getProductsByParent()">
          <a>
            <img src="{{apiUrl}}/{{product.images[0].imageCropUrl}}" alt="{{product.title}}" (click)="goToProduct(product)">
            <div class="content-box-description" (click)="goToProduct(product)">
              <h5 class="" [ngClass]="{ 'product-title' : isAuth }">{{product.title}}</h5>
              <h4 [hidden]="!isAuth" class="text-center small-price">{{product.price}}.00 <label class="unit">RSD</label></h4>
              <h3 [hidden]="!isAuth" class="text-center big-price"><b>{{product.price}}.00 <label class="unit">RSD</label></b></h3>
            </div>
            <div class="row cart-box">
                {{counts[i]}}
              <div class="col-md-4">
                  <input type="number" class="form-control" id="count" [(ngModel)]="product.count" name="count" #count="ngModel">
              </div>
              <div class="col-md-8">
                  <button class="btn btn-sm btn-default" (click)="addToCart(product)" translate><i class="fas fa-shopping-cart"></i></button>
              </div>              
            </div>
          </a>
        </div>
        <div class="col-sm-4 categories-list-item content-box" *ngIf="getProductsByParent().length == 0">
          <a>
            <div class="content-box-description">
              <h5 translate>No Products To Show</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>