<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="atest">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/atest">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/atest">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form action="">
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-5">
        <div class="dropzone-wrapp">
          <span>Drop files here</span>
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="" *ngIf="atest">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="name" [(ngModel)]="atest.title" name="title">
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-md-2 col-form-label">Tekst</label>
            <div class="col-md-10">
              <textarea type="text" class="form-control" id="text" [(ngModel)]="atest.description" name="description"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="file" class="col-md-2 col-form-label">File</label>
            <div class="col-md-10">
              <input #file type="file" class="form-control-file" id="file" (change)="onFileChange($event)"  name="file">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-md-2">
              <button type="submit" class="btn btn-primary" (click)="saveOnClick()"><i class="fas fa-save"></i> Sačuvaj</button>
              <a routerLink="/admin/atest" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
              <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()"><i class="fas fa-trash"></i> Izbriši</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
