<div class="container-fluid" [hidden]="isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container" translate>
        Orders
        <a class="admin-headline-link" routerLink="/admin" translate>
          <i class="fas fa-chevron-left"></i> Back
        </a>
      </h1>
    </div>
  </div>
</div>

<div class="container" [hidden]="isLoading">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/order/new" translate>
        <i class="fas fa-plus"></i> Add new u
      </a>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group row">
      <label for="buyer" class="col-md-3 col-form-label" translate>Buyer</label>
      <div class="col-md-6">
        <ng-select [multiple]="true" [(ngModel)]="selectedCustomers">
          <ng-option *ngFor="let customer of customers" [value]="customer.id">{{customer.companyName}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label for="statuses" class="col-md-3 col-form-label" translate>Status</label>
      <div class="col-md-6">
        <ng-select [multiple]="true" [(ngModel)]="selectedStatuses">
          <ng-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label for="priceFrom" class="col-md-3 col-form-label" translate>Price from</label>
      <div class="col-md-3">
        <input type="number" class="form-control" id="priceFrom" [(ngModel)]="priceFrom" name="priceFrom" min="0">
      </div>
    </div>
    <div class="form-group row">
      <label for="priceTo" class="col-md-3 col-form-label" translate>Price to</label>
      <div class="col-md-3">
        <input type="number" class="form-control" id="priceTo" [(ngModel)]="priceTo" name="priceTo" min="0">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" class="btn btn-primary" (click)="filterOrders(allOrders)" translate><i
            class="fas fa-check"></i>Apply</button>
      </div>
    </div>
  </div>
  <hr/>

  <div class="row admin-list" *ngIf="ordersData">
    <div class="col-lg-6" *ngFor="let order of ordersData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-10">
            <p><a class="admin-list-name" (click)="goTo(order)">{{'Order No' | translate}} {{order.id}}</a></p>
            <div class="row admin-list-contact">
              <p class="col-sm-6">
                <span class="{{order.status}}"><i class="fas fa-circle"></i> {{order.status | translate}}</span><br />
                <span *ngIf="order.createdDate"><i class="fas fa-calendar-alt"></i>
                  {{order.createdDate | date:'dd.MM.yyyy'}} <i class="fas fa-clock"></i>
                  {{order.createdDate | date:'HH:mm'}} <br></span>
                <span><i class="fas fa-money-bill-alt"></i>
                  {{calculatePrice(order)}}<small> RSD</small><br>
                </span>
              </p>
            </div>
          </div>
          <div class="col-2 admin-list-links">
            <a (click)="goTo(order)"><i class="fas fa-pencil-alt"></i></a>
            <!-- <a (click)="openModal(order)" class="remove-link"><i class="fas fa-trash"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center mt-4" *ngIf="!ordersData.length">
    <div class="alert alert-primary" role="alert">
      <span translate>No items</span>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>