<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Preuzmite dokumenta
      </h1>
    </div>
  </div>
</div>
<div class="container">
    <div class="row justify-content-center" *ngIf="downloadData">
        <div class="col-sm-9">
            <div class="content-list-item" *ngFor="let download of downloadData">
                <div class="row">
                    <div class="col-10">
                        <p class="content-list-name">{{download.title}}</p>
                        <p>{{download.desc}}</p>
                    </div>
                    <div class="col-2 content-list-links">
                        <a style="margin-left: 10px; font-size: 24px;"  (click)="goTo(download)"><i class="fas fa-download"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>