<div class="container-fluid" [hidden]="isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container" translate>
        Services
        <a class="admin-headline-link" routerLink="/admin" translate>
          <i class="fas fa-chevron-left"></i> Back
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container"  [hidden]="isLoading">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/service/new" translate>
        <i class="fas fa-plus"></i> Add new i
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="serviceData">
    <div class="col-lg-6" *ngFor="let service of serviceData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-10">
            <p><a class="admin-list-name" (click)="goTo(service)">{{service.title}}</a></p>
            <div class="row admin-list-contact">
              <p class="col-sm-6">
                <span *ngIf="service.street">{{service.street}}</span>
                <span *ngIf="service.postal">, {{service.postal}} {{service.city}}</span>
                <span *ngIf="service.region">, {{service.region}}</span>
                <span *ngIf="service.country">, {{service.country}}</span>
              </p>
              <p class="col-sm-6">
                <span *ngIf="service.phone"><i class="fas fa-phone"></i> <a href="tel:{{service.phone}}"></a>{{service.phone}}<br></span>
                <span *ngIf="service.email"><i class="fas fa-envelope"></i> <a href="mailto:{{service.email}}">{{service.email}}</a> <br></span>
                <span *ngIf="service.website"><i class="fas fa-globe"></i> <a href="{{service.website}}">{{service.website}}</a></span>
              </p>
            </div>
          </div>
          <div class="col-2 admin-list-links">
            <a (click)="goTo(service)"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(service)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
