<section class="homepage-boxes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 content-box">
        <a routerLink="/categories">
          <img src="../../assets/images/pic5.png" alt="Proizvodi">
          <div class="content-box-description">
            <h5>Proizvodi</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel magna fermentum, tristique dui a.</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a href="#">
          <img src="../../assets/images/pic6.png" alt="Katalog">
          <div class="content-box-description">
            <h5>Preuzmi katalog <i class="fas fa-download"></i></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel magna fermentum, tristique dui a.</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a href="#">
          <img src="../../assets/images/pic7.png" alt="Atesti">
          <div class="content-box-description">
            <h5>Atesti</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel magna fermentum, tristique dui a.</p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a href="#">
          <img src="../../assets/images/pic8.png" alt="Video materijali">
          <div class="content-box-description">
            <h5>Video materijali</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel magna fermentum, tristique dui a.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>