<section class="homepage-boxes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 content-box">
        <a routerLink="/categories">
          <img src="../../assets/images/pic5.png" alt="Proizvodi">
          <div class="content-box-description">
            <h5 translate>Products</h5>
            <p translate="homepage.box.products"></p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a routerLink="/katalog">
          <img src="../../assets/images/pic6.png" alt="Katalog">
          <div class="content-box-description">
            <h5><span translate>Download Catalogues</span> <i class="fas fa-download"></i></h5>
            <p translate="homepage.box.catalogue"></p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a routerLink="/atest">
          <img src="../../assets/images/pic7.png" alt="Atesti">
          <div class="content-box-description">
            <h5 translate>Atests</h5>
            <p translate="homepage.box.atests"></p>
          </div>
        </a>
      </div>
      <div class="col-md-3 content-box">
        <a routerLink="/video">
          <img src="../../assets/images/pic8.png" alt="Video materijali">
          <div class="content-box-description">
            <h5 translate>Video materials</h5>
            <p translate="homepage.box.video"></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>