<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="admin-headline">Banner lista</h1>
      <div class="admin-list" *ngIf="bannerData">
        <div class="admin-list-item" *ngFor="let book of bannerData.data">
          <div class="banner-image">
            <img src="{{book.avatar}}" alt="{{book.first_name}}">
          </div>
          <div class="banner-title">
            <span>{{book.first_name}}</span>
          </div>
          <div class="banner-text">
            <span>{{book.last_name}}</span>
          </div>
          <div class="banner-link">
            <span>{{book.avatar}}</span>
          </div>
          <div class="banner-edit">
            <a routerLink="/banner/{{book.id}}"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
