<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="category">
      <h1 class="admin-headline">
        {{ category.first_name }} <span>Edit</span>
        <a class="admin-headline-link" routerLink="/admin/category">
          <i class="fas fa-chevron-left"></i> Back to list
        </a>
      </h1>
    </div>
  </div>
  <form action="">
    <div class="row">
      <div class="col-md-5">
        <div class="dropzone-wrapp">
          <span>Drop files here</span>
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="" *ngIf="category">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="name" value="{{ category.first_name }}">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-md-2">
              <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Sačuvaj</button>
              <a href="/admin/category" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
              <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> Izbriši</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
