<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="sales">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/sales">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/sales">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate>
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-5">
        <div #gmap style="width:100%; height:400px;"></div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="" *ngIf="sales">
          <div class="form-group row">
            <label for="title" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="title" [(ngModel)]="sales.title" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Ovo polje je obavezno</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="street" class="col-md-2 col-form-label">Adresa</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="street" name="street" [(ngModel)]="sales.street">
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-md-2 col-form-label">Grad</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="city" name="city" [(ngModel)]="sales.city">
            </div>
          </div>
          <div class="form-group row">
            <label for="postal" class="col-md-2 col-form-label">Poštanski broj</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="postal" name="postal" [(ngModel)]="sales.postal">
            </div>
          </div>
          <div class="form-group row">
            <label for="region" class="col-md-2 col-form-label">Opština</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="region" name="region" [(ngModel)]="sales.region">
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-md-2 col-form-label">Drzava</label>
            <div class="col-md-10">
                <select class="form-control" id="country" name="country" [(ngModel)]="sales.country">
                    <option value=""></option>
                    <option value="Srbija">Srbija</option>
                    <option value="Hrvatska">Hrvatska</option>
                    <option value="Makedonija">Makedonija</option>
                    <option value="Crna Gora">Crna Gora</option>
                    <option value="Republika Srpska">Republika Srpska</option>
                  </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="latitude" class="col-md-2 col-form-label">Latitude</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="latitude" name="latitude" [(ngModel)]="sales.latitude">
            </div>
          </div>
          <div class="form-group row">
            <label for="longitude" class="col-md-2 col-form-label">Longitude</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="longitude" name="longitude" [(ngModel)]="sales.longitude">
            </div>
          </div>
          <div class="form-group row">
            <label for="phone" class="col-md-2 col-form-label">Telefon</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="sales.phone">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="sales.email">
            </div>
          </div>
          <div class="form-group row">
            <label for="website" class="col-md-2 col-form-label">Website</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="website" name="website" [(ngModel)]="sales.website">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-md-2">
              <button type="submit" class="btn btn-primary" (click)="scrollTop(f)"><i class="fas fa-save"></i> Sačuvaj</button>
              <a routerLink="/admin/sales" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
              <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()"><i class="fas fa-trash"></i> Izbriši</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
