<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Prodavci
        <a class="admin-headline-link" routerLink="/admin">
          <i class="fas fa-chevron-left"></i> Nazad
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/sales/new">
        <i class="fas fa-plus"></i> Dodaj novog
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="salesData">
    <div class="col-lg-6" *ngFor="let sales of salesData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-10">
            <p><a class="admin-list-name" (click)="goTo(sales)">{{sales.title}}</a></p>
            <div class="row admin-list-contact">
              <p class="col-sm-6">{{sales.street}}, {{sales.postal}} {{sales.city}}, {{sales.region}}, {{sales.country}}</p>
              <p class="col-sm-6">
                <span *ngIf="sales.phone"><i class="fas fa-phone"></i> <a href="tel:{{sales.phone}}"></a>{{sales.phone}}<br></span>
                <span *ngIf="sales.email"><i class="fas fa-envelope"></i> <a href="mailto:{{sales.email}}">{{sales.email}}</a> <br></span>
                <span *ngIf="sales.website"><i class="fas fa-globe"></i> <a href="{{sales.website}}">{{sales.website}}</a></span>
              </p>
            </div>
          </div>
          <div class="col-2 admin-list-links">
            <a (click)="goTo(sales)"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(sales)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
