<div class="container-fluid" *ngIf="!isLoading">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{apiUrl}}/{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container desc-blocks" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/ideja.png"  alt="">
      <h3 translate>Idea</h3>
      <p translate="quality.idea"></p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/materijal.png"  alt="">
      <h3 translate>Material</h3>
      <p translate>quality.material</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/livenje.png"  alt="">
      <h3 translate>Casting</h3>
      <p translate="quality.casting"></p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/poliranje.png"  alt="">
      <h3 translate>Polishing</h3>
      <p translate="quality.polishing"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/hromiranje.png"  alt="">
      <h3 translate>Chrome</h3>
      <p translate="quality.chrome"></p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/montaza.png"  alt="">
      <h3 translate>Mounting</h3>
      <p translate="quality.mounting"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/ispitivanje.png"  alt="">
      <h3 translate>Testing</h3>
      <p translate="quality.testing"></p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/pakovanje.png"  alt="">
      <h3 translate>Packaging</h3>
      <p translate="quality.packaking"></p>
    </div>
  </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
