<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" *ngIf="banner">
      <img src="{{apiUrl}}/{{banner.imageCropUrl}}" alt="">
    </div>
  </div>
</div>
<div class="container desc-blocks">
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/ideja.png"  alt="">
      <h3>Ideja</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/materijal.png"  alt="">
      <h3>Materijal</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/livenje.png"  alt="">
      <h3>Livenje</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/poliranje.png"  alt="">
      <h3>Poliranje</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/hromiranje.png"  alt="">
      <h3>Hromiranje</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/montaza.png"  alt="">
      <h3>Montaza</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/ispitivanje.png"  alt="">
      <h3>Ispitivanje</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
    <div class="col-sm-6 desc-block">
      <img src="../../../assets/images/icons/pakovanje.png"  alt="">
      <h3>Pakovanje</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante orci, consectetur a tortor in, placerat aliquet magna. Pellentesque porta, quam viverra hendrerit tincidunt, augue sapien elementum metus, et porttitor nibh nulla eget turpis.</p>
    </div>
  </div>
</div>
