<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/categories">Proizvodi</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCategory">
          <a routerLink="/categories">{{productCategory.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollection">
          <a (click)="goTo(productCollection)">{{productCollection.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollectionMain">
          <a (click)="goToProducts(productCollectionMain)">{{productCollectionMain.title}} </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="product" class="container single-product">
  <div class="row">
    <div class="col-sm-6">
      <img src="{{'data:image/png;base64,'+product.images[0].image}}" alt="{{product.title}}">
      <img src="{{'data:image/png;base64,'+product.productDrawing}}" alt="{{product.title}}">
    </div>
    <div class="col-sm-6">
      <h1>{{product.title}}</h1>
      <div class="single-product-data">
        <p><span>Šifra:</span> {{product.code}}</p>
        <p><span>Dimenzije proizvoda (ŠxVxD):</span> {{product.widthData}}x{{product.heightData}}x{{product.depthData}}</p>
        <p class="single-product-price">
          {{product.price * ((100 - product.discount)/100) | number : '1.2-2'}} <span class="single-product-price-currency">RSD</span>
          <span *ngIf="product.discount > 0" class="single-product-price-old">{{product.price | number : '1.2-2'}}  <span class="single-product-price-currency">RSD</span></span>
        </p>
      </div>
      <p class="single-product-description">
        {{product.desc}}
      </p>
      <p class="single-product-price-info">
        Cene su iskazane u dinarima sa uključenim PDV-om. Ne možemo Vam garantovati da su sve fotografije potpuno verne, a cene ažurne, iako će Marbomil nastojati da ove informacije budu tačne.
      </p>
      <a href="#" class="add-to-cart btn btn-primary btn-lg">Dodaj u korpu</a>
    </div>
  </div>
</div>
