<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs">
        <li>
          <a routerLink="/categories">Proizvodi</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCategory">
          <a routerLink="/categories/{{productCategory.id}}">{{productCategory.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollection">
          <a (click)="goTo(productCollection)">{{productCollection.title}}</a><i class="fas fa-chevron-right"></i>
        </li>
        <li *ngIf="productCollectionMain">
          <a (click)="goToProducts(productCollectionMain)">{{productCollectionMain.title}} </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="product" class="container single-product">
  <div class="row">
    <div class="col-sm-5">
      <img class="single-product-image" src="{{activeImage}}" alt="{{product.title}}">
      <div class="row single-product-thumbnails">
        <div *ngFor="let productImage of product.images" class="col-4">
          <img (click)="setActive(productImage)" src="{{apiUrl}}/{{productImage.imageCropUrl}}" alt="{{product.title}}">
        </div>
      </div>
    </div>
    <div class="col-sm-6 offset-sm-1">
      <h1>{{product.title}}</h1>
      <div class="single-product-data">
        <p><span>Šifra:</span> {{product.code}}</p>
        <p *ngIf="product.dimension"><span>Dimenzije proizvoda:</span> {{product.dimension}}</p>
        <!--<p><span>Dimenzije proizvoda (ŠxVxD):</span> {{product.width}}x{{product.height}}x{{product.depth}}</p>-->
        <!--<p class="single-product-price">-->
          <!--{{product.price * ((100 - product.discount)/100) | number : '1.2-2'}} <span class="single-product-price-currency">RSD</span>-->
          <!--<span *ngIf="product.discount > 0" class="single-product-price-old">{{product.price | number : '1.2-2'}}  <span class="single-product-price-currency">RSD</span></span>-->
        <!--</p>-->
      </div>
      <p class="single-product-description">
        {{product.description}}
      </p>
      <img src="{{apiUrl}}/{{product.drawingImageUrl}}" alt="{{product.title}}">
      <!--<p class="single-product-price-info">-->
        <!--Cene su iskazane u dinarima sa uključenim PDV-om. Ne možemo Vam garantovati da su sve fotografije potpuno verne, a cene ažurne, iako će Marbomil nastojati da ove informacije budu tačne.-->
      <!--</p>-->
      <a href="#" class="add-to-cart btn btn-primary btn-lg">Prijava za web shop</a>
    </div>
  </div>
</div>
