<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container">
        Kolekcije
        <div class="admin-headline-link">
          <a class="admin-headline-link" routerLink="/admin">
            <i class="fas fa-chevron-left"></i> Nazad
          </a>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin">
        <i class="fas fa-plus"></i> Dodaj novi
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="collectionData">
    <div class="col-lg-6" *ngFor="let book of collectionData.data">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-11 col-sm-4" style="margin-bottom: 10px;">
            <a routerLink="/admin/collection/{{book.id}}">
              <img src="{{book.avatar}}" alt="{{book.first_name}}">
            </a>
          </div>
          <div class="col-sm-7 order-2 order-sm-1">
            <p><a class="admin-list-name" routerLink="/admin/collection/{{book.id}}">{{book.first_name}}</a></p>
            <p>
              <strong>Parent: </strong><a href="/admin/collection/4">Collection name</a> <br>
              <strong>Category: </strong><a href="/admin/category/4">Category name</a>
            </p>
          </div>
          <div class="col-1 admin-list-links order-1 order-sm-2">
            <a routerLink="/admin/collection/{{book.id}}"><i class="fas fa-pencil-alt"></i></a>
            <a href="#" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
