<div class="container-fluid" *ngIf="!isLoading">
  <div class="row">
    <div class="col">
      <h1 class="admin-headline container" translate>
        Collections
        <a class="admin-headline-link" routerLink="/admin" translate>
          <i class="fas fa-chevron-left"></i> Back
        </a>
      </h1>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row justify-content-end mb-4">
    <div class="col-auto">
      <a class="btn btn-primary" routerLink="/admin/collection/new" translate>
        <i class="fas fa-plus"></i> Add new u
      </a>
    </div>
  </div>
  <div class="row admin-list" *ngIf="collectionData">
    <div class="col-lg-6" *ngFor="let collection of collectionData">
      <div class="admin-list-item">
        <div class="row">
          <div class="col-11 col-sm-4" style="margin-bottom: 10px;">
            <a (click)="goTo(collection)">
              <img src="{{apiUrl}}/{{collection.imageCropUrl}}" >
            </a>
          </div>
          <div class="col-sm-7 order-2 order-sm-1">
            <p><a class="admin-list-name" (click)="goTo(collection)">{{collection.title}}</a></p>
          </div>
          <div class="col-1 admin-list-links order-1 order-sm-2">
            <a (click)="goTo(collection)"><i class="fas fa-pencil-alt"></i></a>
            <a (click)="openModal(collection)" class="remove-link"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
