/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// ng-select styles
@import "~@ng-select/ng-select/themes/default.theme.css";

// ngx-datepicker
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

body {
    .bs-datepicker-container .bs-datepicker-head {
      background-color: $blue-dark;
    }
  
    .bs-datepicker-container .bs-datepicker-body .select-end {
      background-color: $black !important;
    }
  
    .bs-datepicker-container .bs-datepicker-body .select-start {
      background-color: $black !important;
    }
  
    .bs-datepicker-container .bs-datepicker-body table td.week span {
      color: $blue-dark !important;
    }
  }

  
// Theme customization
@import "theme/theme";

