<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/product">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/product">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form action="">
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-12 ">
        <div class="">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="name" [(ngModel)]="product.title" name="title">
            </div>
          </div>
          <div class="form-group row">
            <label for="pid" class="col-md-2 col-form-label">Šifra</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="pid" [(ngModel)]="product.code" name="code">
            </div>
          </div>
          <div class="form-group row">
            <label for="price" class="col-md-2 col-form-label">Cena</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="price" [(ngModel)]="product.price" name="price">
            </div>
          </div>
          <div class="form-group row">
            <label for="discount" class="col-md-2 col-form-label">Popust</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="discount" [(ngModel)]="product.discount" name="discount">
            </div>
          </div>
          <div class="form-group row">
            <label for="discountdate" class="col-md-2 col-form-label">Popust do</label>
            <div class="col-md-10">
              <input type="date" class="form-control" id="discountdate" [(ngModel)]="product.discountDate" name="discountDate">
            </div>
          </div>
          <div class="form-group row">
            <label for="parentCollection" class="col-md-2 col-form-label">Kolekcija</label>
            <div class="col-md-10">
              <select class="form-control" id="parentCollection" [(ngModel)]="product.collectionId" name="collectionId">
                <optgroup *ngFor="let colParent of collectionsParents" label="{{colParent.title}}">
                  <option  *ngFor="let col of getCollectionsById(colParent.id)" [ngValue]="col.id" name="col.title" >{{col.title}}</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-md-2 col-form-label">Kategorija</label>
            <div class="col-md-10">
              <select class="form-control" id="category" [(ngModel)]="product.categoryId" name="categoryId">
                  <option  *ngFor="let cat of categories;index as i" [ngValue]="cat.id" name="cat.title" >{{cat.title}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-md-2 col-form-label">Opis</label>
            <div class="col-md-10">
              <textarea type="text" class="form-control" id="text" [(ngModel)]="product.description" name="desc"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="width" class="col-md-2 col-form-label">Širina</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="width" [(ngModel)]="product.width" name="widthData">
            </div>
          </div>
          <div class="form-group row">
            <label for="height" class="col-md-2 col-form-label">Visina</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="height" [(ngModel)]="product.height" name="heightData">
            </div>
          </div>
          <div class="form-group row">
            <label for="stock" class="col-md-2 col-form-label">Količina</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="stock" [(ngModel)]="product.depth" name="depthData">
            </div>
          </div>
          <div class="form-group row">
            <label for="depth" class="col-md-2 col-form-label">Dubina</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="depth" [(ngModel)]="product.numberOnSite" name="numberOnSite">
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="row row-collections">
          <div [hidden]="true">
            <input #fileInput type="file" id="imgFile" [hidden]="true" required (change)="fileChangeListener($event)">
          </div>
          <div class="col-sm-4 col-to-12">
            <label class="control-label" translate>Slika Proizvoda</label> <span class="mandatory">*</span>
            <div class="initial-image image-collections">
              <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <label class="control-label" translate>Pregled</label>

            <div *ngIf="!data.image" id="preview" class="initial-image image-collections preview"></div>
            <div id="preview" class=" image-collections preview">
              <span class="result rounded">
          <img *ngIf="data.image"  class="preview-size" style="max-height: 240px;" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <div class="image-note inline">
              <label class="control-label" translate>Note</label>
              <p class="form-control-static">Minnimum size of the images should be <span>900x600px</span>. For the greater images, aspect ratio should be preserved.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12" style="margin-left:10px">
            <label class="control-label" translate>Sve Slike Proizvoda</label>
            <div class="images-row">
              <a [ngClass]="{active: i==activeImageIndex}" *ngFor="let productImage of images;index as i">
             <img style="width:180px; height:120px" id="image"  [src]="productImage.imageCrop" (click)="setActiveImage(productImage)">
           </a>
            </div>
            <div class="image-buttons" style="margin-top: 20px;">
              <button class="btn btn-primary" translate (click)="uploadImage()">Dodaj Sliku</button>
              <button class="btn btn-danger" translate (click)="removeImage()">Obriši Sliku</button>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-12">
        <h5>Tehnički crtež</h5>
        <div class="row ">
          <div [hidden]="true">
            <input #fileInput2 type="file" id="imgFile" [hidden]="true" required (change)="fileChangeListener2($event)">
          </div>
          <div class="col-sm-4 col-to-12">
            <label class="control-label" translate>Slika</label> <span class="mandatory">*</span>
            <div class="initial-image image-collections">
              <img-cropper #cropper2 [image]="data2" [settings]="cropperSettings"></img-cropper>
            </div>
            <br>
            <div class="image-buttons">
              <button class="btn btn-primary" translate (click)="uploadImage2()">Dodaj Crtež</button>
              <button class="btn btn-danger" translate (click)="removeImage2()">Obriši Crtež</button>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <label class="control-label" translate>Pregled</label>
            <div class="image-preview preview-collections">
              <span class="result rounded" *ngIf="data2.image">
                        <img class="cropper-size" style="height:240px; width:360px" [src]="data2.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                      </span>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <div class="image-note inline">
              <label class="control-label" translate>Napomena:</label>
              <p class="form-control-static">Minimalna dimenzija slike je <span>900x600px</span>. Za slike većih dimenzija, razmera će biti sačuvana.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-top:40px; padding-bottom:20px;">
        <div class="row">
          <div class="col-sm-10 ">
            <button type="submit" class="btn btn-primary" (click)="saveOnClick()"><i class="fas fa-save"></i> Sačuvaj</button>
            <a routerLink="/admin/product" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
            <a class="btn btn-danger" (click)="openModal()" *ngIf="isEditMode"><i class="fas fa-trash"></i> Izbriši</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
