<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="collection">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/collection">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/collection">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form action="">
    <simple-notifications></simple-notifications>

    <div class="row">
      <div class="col-md-12">
        <div class="" *ngIf="collection">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="name" [(ngModel)]="collection.title" name="title">
            </div>
          </div>
          <div class="form-group row">
            <label for="parentCollection" class="col-md-2 col-form-label">Nad Kolekcija</label>
            <div class="col-md-10">
              <select class="form-control" id="parentCollection" [(ngModel)]="collection.parentId" name="parentId">
                <option value=""></option>
                <option  *ngFor="let col of collections;index as i" [ngValue]="col.id" name="col.title" >{{col.title}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-md-2 col-form-label">Kategorija</label>
            <div class="col-md-10">
              <select class="form-control" id="category" [(ngModel)]="collection.categoryId" name="categoryId">
                <option value=""></option>
                <option  *ngFor="let col of categories;index as i" [ngValue]="col.id" name="col.title" >{{col.title}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row ">
          <div [hidden]="true">
            <input #fileInput type="file" id="imgFile" [hidden]="true" required (change)="fileChangeListener($event)">
          </div>
          <div class="col-sm-4 col-to-12">
            <label class="control-label" translate>Slika</label> <span class="mandatory">*</span>
            <div class="initial-image image-collections">
              <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
            </div>
            <br>
            <div class="image-buttons">
              <button class="btn btn-add" translate (click)="uploadImage()">Dodaj Sliku</button>
              <button class="btn btn-remove" translate (click)="removeImage()">Obriši Sliku</button>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <label class="control-label" translate>Pregled</label>
            <div class="image-preview preview-collections">
              <span class="result rounded" *ngIf="data.image">
                        <img class="cropper-size" style="max-height:240px" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                      </span>
            </div>
          </div>
          <div class="col-sm-4 col-to-8">
            <div class="image-note inline">
              <label class="control-label" translate>Napomena:</label>
              <p class="form-control-static">Minimalna dimenzija slike je <span>900x600px</span>. Za slike većih dimenzija, razmera će biti sačuvana.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-top:40px; padding-bottom:20px;">
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" (click)="saveOnClick()"><i class="fas fa-save"></i> Sačuvaj</button>
            <a routerLink="/admin/banners" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
            <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()"><i class="fas fa-trash"></i> Izbriši</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
