<div class="container" [hidden]="isLoading">
  <div class="row">
    <div class="col-sm-12" *ngIf="collection">
      <h1 class="admin-headline" *ngIf="isEditMode">Izmena Postojećeg
        <a class="admin-headline-link" routerLink="/admin/collection">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
      <h1 class="admin-headline" *ngIf="!isEditMode">Kreiranje Novog
        <a class="admin-headline-link" routerLink="/admin/collection">
          <i class="fas fa-chevron-left"></i> Nazad na listu
        </a>
      </h1>
    </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && saveOnClick()" #f="ngForm" novalidate>
    <simple-notifications></simple-notifications>
    <div class="row">
      <div class="col-md-5">

        <div class="form-group position-fix">
          <label class="control-label" translate>Slika</label> <span class="mandatory">*</span>
          <div class="initial-image image-collections">
            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
          </div>
          <div class="image-note inline">
            <label class="control-label" translate>Napomena:</label>
            <p class="form-control-static">Minimalna dimenzija slike je <span>900x600px</span>. Za slike većih dimenzija, razmera će biti sačuvana.</p>
          </div>
          <div [hidden]="true">
            <input #fileInput type="file" id="imgFile" [hidden]="true" (change)="fileChangeListener($event)">
          </div>
          <div class="image-buttons">
            <span class="btn btn-primary" translate (click)="uploadImage()">Dodaj Sliku</span>
            <span class="btn btn-danger" translate (click)="removeImage()">Obriši Sliku</span>
          </div>
        </div>
        <div class="form-group margin-top-30">
          <label class="control-label" translate>Pregled</label>
          <div class="image-preview preview-collections">
              <span class="result rounded" *ngIf="data.image">
                <img class="cropper-size" style="max-height:240px" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
              </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 offset-md-1">
        <div class="" *ngIf="collection">
          <div class="form-group row">
            <label for="name" class="col-md-2 col-form-label">Naziv</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="name" [(ngModel)]="collection.title" name="name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required maxlength="100">
              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Ovo polje je obavezno</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-md-2 col-form-label">Kategorija</label>
            <div class="col-md-10">
              <select class="form-control" id="category" [(ngModel)]="collection.categoryId" name="categoryId">
                <option value=""></option>
                <option  *ngFor="let col of categories;index as i" [ngValue]="col.id" name="col.title" >{{col.title}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 offset-md-2">
              <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Sačuvaj</button>
              <a routerLink="/admin/collection" class="btn btn-secondary"><i class="fas fa-ban"></i> Otkaži</a>
              <a class="btn btn-danger" *ngIf="isEditMode" (click)="openModal()"><i class="fas fa-trash"></i> Izbriši</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <delete-modal (deleteConfirmed)="performDelete($event)">
  </delete-modal>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
