<div class="container">
  <div class="row">
    <div class="col-sm-12 page-title-icon">
      <h1>Kontakt</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="" class="contact-form">
        <div class="form-group">
          <label for="contact-name">Ime i prezime</label>
          <input type="text" class="form-control form-control-lg" name="contact-name" id="contact-name" >
        </div>
        <div class="form-group">
          <label for="contact-phone">Tel:</label>
          <input type="text" class="form-control form-control-lg" name="contact-phone" id="contact-phone" >
        </div>
        <div class="form-group">
          <label for="contact-city">Grad</label>
          <input type="text" class="form-control form-control-lg" name="contact-city" id="contact-city" >
        </div>
        <div class="form-group">
          <textarea class="form-control form-control-lg" name="contact-message" id="contact-message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn large-btn btn-primary mb-2">Pošalji</button>
      </form>
    </div>
  </div>
</div>
